/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    @apply overflow-x-hidden scroll-smooth;
}

body{
    /* @apply bg-green-950 text-white font-Jost tracking-wider ; */
    @apply bg-[#063970] text-white font-Jost tracking-wider ;
}

section{
    @apply py-20 md:py-28;
}
h1{
    @apply text-3xl md:text-4xl xl:text-5xl font-bold;
}

h2{
    @apply text-2xl md:text-3xl xl:text-4xl;
}
h3{
    @apply text-xl md:text-2xl xl:text-3xl;
}

.active{
    @apply text-yellow-400;
}

.nav-link{
    @apply text-lg font-bold duration-300;
}
.nav-lin:hover{
    @apply text-yellow-500;
}

/* title */
.title{
   @apply font-Lobster  text-yellow-500;
}

.btn{
    @apply border border-yellow-500 bg-yellow-500 rounded-md px-5 py-2 duration-300;
}

.btn span{
    @apply font-bold ;
}
.btn:hover{
    @apply opacity-90;
}

.btn_outline{
    @apply bg-transparent;
}
.btn_outline:hover{
    @apply bg-yellow-500
}

/* PopularSection */

.popular_card:hover img{
    @apply -top-8;
}

/* .swiper-pagination-bullet{
    @apply bg-green-500 w-3 h-3;
} */


/* Center pagination dots */
.my-swiper .swiper-pagination {
    bottom: 10px; /* Adjust position */
    text-align: center;
  }
  
  /* Style dots */
  .my-swiper .swiper-pagination-bullet {
    background-color: #cccccc; /* Default dot color */
    width: 12px; /* Dot size */
    height: 12px;
    opacity: 0.6; /* Transparency */
  }
  
  /* Active dot styling */
  .my-swiper .swiper-pagination-bullet-active {
    background-color: #ffcc00; /* Active dot color */
    opacity: 1;
  }
  